<button onClick="window.location='/qa/report';" value="Send report">Send report</button>
|
<%= link_to('Show history', '/qa') %>
|
Modules

<br/><br/>
<%= form_for @pr_module, url: {controller: :pr_modules, action: :create }, method: :post do |f| %>

  <%= f.label :project_id %>
  <%= f.select :project_id, 
    options_for_select(@projects.map { |project| [project.name, project.id, { 'data-id' => project.id }] }), prompt: "Select project" %>

  <p>Modules:</p>

  <div id="modules">
    <% @modules.each do |pr_module| %>
      <div data-id="<%= pr_module.project_id %>" style="display: none;">
        <%= link_to "x", delete_pr_module_path(pr_module.id), method: :delete, class: "delete-link" %>
        <%= pr_module.name %>
        <br/>
      </div>
    <% end %>
  </div>
  <br/>

  <a href="#add-module" id="add">+Add module</a>
  <div id="add-module" class="modules-settings">
    <br/>

    <%= f.label "Module type:" %>
    <%= f.label "API:" %>
    <%= f.check_box :is_api %>
    <%= f.label "UI:" %>
    <%= f.check_box :is_ui %>
    <br/>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Add" %>
  </div>
  <% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#add-module").hide();

    $("#add").click(function () {
      $("#add-module").show();
    });

    $("#pr_module_project_id").click(function () {
      var projectId = $('#pr_module_project_id option:selected').val();

      if (projectId) {
        $('#modules div').css("display", "none");
        $('#modules div[data-id="' + projectId + '"]').css("display", "block");
      }    
    })

  });
</script>