Send report
|
<%= link_to "Show history", "/qa" %>
|
<%= link_to('Modules', '/qa/projects') %>

<h3 align="center">Send QA Report</h3>

<%= form_for @project_pr_module, url: {action: :create_project_pr_module}, method: :post do |f| %>

  <span>Project:</span>
  <%= f.select(:project_id, options_from_collection_for_select(@projects, "id", "name", :selected => @projectname), prompt: "Select project" ) %>
  <br/>

  <span>Name:</span>
  <%= f.select(:user_id, options_from_collection_for_select(@users, "id", "name", :selected => @username), prompt: "Select username" ) %>
  <br />

  <span>Date:</span>
  <%= f.text_field :date %>
  <br />
  <br />

  <span>ChangeList:</span>
  <%= f.text_field :change_list_api, placeholder: "API", style: 'width:55px' %>/
  <%= f.text_field :change_list_ui, placeholder: "UI", style: 'width:55px' %>
  <br/>

  <div id="modules">
    <p>Modules:</p>
    <% if @modules.any? %>
      <ul class="modules-report">
      <% @modules.group_by(&:is_api).each do |keys, values| %>
            <li>
              <% values.each do |pr_module| %>
                  <div data-id="<%= pr_module.project_id %>" class="module_magic module_0" id="<%= pr_module.id %>" style="display: none; position: relative;">
                    <%= "#{pr_module.name} [#{pr_module.is_api ? "API" : "UI"}]" %>

                    <div style="display:none">
                      <input  class="radio_<%= pr_module.id %>" type="radio" value="1" name="project_pr_module[modules][<%= pr_module.id %>]" /><span>Work</span>
                      <input class="radio_<%= pr_module.id %>" type="radio" value="-1" name="project_pr_module[modules][<%= pr_module.id %>]" /><span>Not work</span>
                      <input class="radio_<%= pr_module.id %>" checked type="radio" value="0" name="project_pr_module[modules][<%= pr_module.id %>]" /><span>Unchecked</span>
                      <br/>
                    </div>
                  </div>
              <% end %>
            </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <br/><br/><br/>
  <br/><br/><br/>
  <br/><br/><br/>

  <%= submit_tag "Send" %>
<% end %>

<script>
  $(document).ready(function () {

    // Code for Datepicker
    $(function(){
      $("#project_pr_module_date").datepicker().datepicker('setDate', 'today');
    });

    // Code for showing modules
    $("#project_pr_module_project_id").click(function () {
      var projectId = $('#project_pr_module_project_id option:selected').val();

      if (projectId) {
        $("#modules div").css("display", "none");
        $('#modules div[data-id="' + projectId + '"]').css("display", "block");
      }
    })

    if ($('#project_pr_module_project_id').index() != 0) {
        $('#project_pr_module_project_id').change();
    }

    $('.module_magic').click(function() {
        var id= $(this).attr('id');
        var v = $('input[name="project_pr_module[modules][' + id + ']"]:checked').val();
        $(this).removeClass('module_' + v);
        if (v == '0') {
            v = '1';
        } else {
            if (v == '1') {
                v = '-1';
            } else {
                v = '0';
            }
        }
        $(this).addClass('module_' + v);
        $('input[name="project_pr_module[modules][' + id + ']"]').val(v);
    });

  });


</script>